In [17]:
#1
a = int(input())
b = int(input())
c = int(input())
print(a + b + c)

1
2
3
6

In [18]:
#2
def Square(k1, k2):
    S = (k1 * k2) / 2
    return S
ABC = Square(10, 30) 
print(ABC)

150.0

In [19]:
#3
def Hello_Name(Name):
    print(f"Hello, {Name}")

Hello_Name('John')

Hello, John

In [20]:
#4
def prev_and_next(this_number)->int:
    print(f"Предыдущее ичсло для числа {this_number}:{this_number-1}")
    print(f"Следующее ичсло для числа {this_number}:{this_number+1}")
prev_and_next(10)

Предыдущее ичсло для числа 10:9
Следующее ичсло для числа 10:11

In [21]:
#5
def Equal_apple(Student, Apple):
    remains = Apple%Student
    Students_apple = Apple//Student
    print(f"Яблок у студентов:{Students_apple}, в корзине:{remains}")
Equal_apple(6, 50)

Яблок у студентов:8, в корзине:2

In [22]:
#6
def after_nightmare(N)->float:
    print(N//3600, N/60)
after_nightmare(3900)

1 65.0

In [23]:
#7
def Times(Hour1, Min1, Sec1, Hour2, Min2, Sec2):
    dif = (Hour2 * 3600 + Min2 * 60 + Sec2) - (Hour1 * 3600 + Min1 * 60 + Sec1)
    print(dif)
Times(1,1,1,2,2,2)

3661

In [24]:
#1
def right_left_number(Number):
    print(Number%10, Number//10)
    
right_left_number(79)

9 7

In [26]:
#2
def swap_number(Number):
    print(str(Number%10)+ str(Number//10))
swap_number(79)

97

In [27]:
#3
def two_last_num(N):
    print(N%100)
two_last_num(1010)

10

In [28]:
#4
def tenth_num(Num):
    Num = Num//10
    print(Num%10)
tenth_num(1234)

3

In [29]:
#5
def sum(N):
    N1 = N//100 #1
    N = N%100 #3
    N2 = N%10
    N3 = N//10 
    print(N1 + N2 + N3)
sum(123)

6

In [30]:
#6
def R_num(N)->float:
    print(int(N * 10) % 10)
R_num(1.79)

7

In [31]:
#7
def year(N):
    print(N//100 + 1)
year(2000)

21

In [32]:
#8
def day_of_eyar(N):
    print((N+3)%7)
day_of_eyar(4)

0

In [33]:
#9
def min_after_nightmare(N):
    count_of_hours = N // 60
    count_of_min = N % 60
    print(f"{count_of_hours} : {count_of_min}")
min_after_nightmare(150)

2 : 30

In [34]:
#10
def table_for_pupil(a, b, c):
    count = (a+b+c)//2
    rez = count + 1 if count%2 == 1 else count%2==0
    print(rez)
table_for_pupil(20, 21, 22)

32

In [35]:
def table_for_pupil2(a, b, c):
    count = (a+b+c)/2
    print(round(count))
table_for_pupil(20,21,22)

32

In [36]:
def table_for_pupil3(a, b, c):
    print (a//2 + b //2 + c//2 + a%2 + b%2 +c%2)
table_for_pupil3(20, 21, 22)

32