In [10]:
import pandas as pd
data = pd.read_csv('Практическая работа №2.csv', delimiter='|')
data['id'] = [i for i in range(len(data.isbn))]
data

,isbn,title,author,quantity,price,id
0,978-1-43545-500-9,Python Programming for the Absolute Beginner,Michael Dawson,10,18.90,0
1,978-0-59600-372-2,XSLT Cookbooks,Sai Mangano,15,34.60,1
2,978-0-32168-056-3,Programming in Python 3,Mark Summerfield,8,27.80,2
3,978-1-144935-573-9,Learning Python,Mark Lutz,21,34.20,3
4,978-0-47178-597-2,Ajax for Dummies,Steve Holzner,32,11.80,4
5,978-1-78439-700-5,Mastering Python Networking,Eric Chou,23,31.49,5
6,978-8-59037-986-7,programming in Lua,Roberto Ierasalimschy,12,37.10,6
7,978-1-78439-658-9,Machine Learning in Java,Bostjan kaluza,45,34.99,7

In [11]:
def get_books(NameColumn,NameElement):
    listok = []
    for i in range(len(data[NameColumn])):
        data[NameColumn][i] = data[NameColumn][i].split()
        for j in range(len(data[NameColumn][i])):
            if data[NameColumn][i][j] == NameElement:
                listok.append(data.iloc[i])
                print(data[NameColumn][i])
        data[NameColumn][i] = ' '.join(data[NameColumn][i])
  #  print(listok)
    return listok
get_books('title', 'Python')

C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_15932\773968782.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[NameColumn][i] = data[NameColumn][i].split()
C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_15932\773968782.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[NameColumn][i] = ' '.join(data[NameColumn][i])

['Python', 'Programming', 'for', 'the', 'Absolute', 'Beginner']
['Programming', 'in', 'Python', '3']
['Learning', 'Python']
['Mastering', 'Python', 'Networking']

[isbn                                        978-1-43545-500-9
 title       [Python, Programming, for, the, Absolute, Begi...
 author                                         Michael Dawson
 quantity                                                   10
 price                                                    18.9
 id                                                          0
 Name: 0, dtype: object,
 isbn                   978-0-32168-056-3
 title       [Programming, in, Python, 3]
 author                  Mark Summerfield
 quantity                               8
 price                               27.8
 id                                     2
 Name: 2, dtype: object,
 isbn        978-1-144935-573-9
 title       [Learning, Python]
 author               Mark Lutz
 quantity                    21
 price                     34.2
 id                           3
 Name: 3, dtype: object,
 isbn                      978-1-78439-700-5
 title       [Mastering, Python, Networking]
 author                            Eric Chou
 quantity                                 23
 price                                 31.49
 id                                        5
 Name: 5, dtype: object]

In [14]:
def get_totals(lst):
    
    new_df = pd.DataFrame(lst)
    new_df['price_of_quantity'] = new_df.quantity * new_df.price
    new_df = new_df.drop(columns=new_df.iloc[:, 1:6])
    new_df['price_of_quantity'].mask(new_df['price_of_quantity'] <500, new_df.price_of_quantity + 100, inplace=True)
    return new_df
df = get_totals(get_books('title', 'Python'))

C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_15932\773968782.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[NameColumn][i] = data[NameColumn][i].split()
C:\Users\Дмитрий\AppData\Local\Temp\ipykernel_15932\773968782.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[NameColumn][i] = ' '.join(data[NameColumn][i])

['Python', 'Programming', 'for', 'the', 'Absolute', 'Beginner']
['Programming', 'in', 'Python', '3']
['Learning', 'Python']
['Mastering', 'Python', 'Networking']

In [15]:
df

                 isbn  price_of_quantity
0   978-1-43545-500-9             289.00
2   978-0-32168-056-3             322.40
3  978-1-144935-573-9             718.20
5   978-1-78439-700-5             724.27